.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app img {
    height: 400px;
    width: 400px;
}

.app h1 {
    margin-top: 100px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(120, 36, 177);
}

.app p {
    font-family: Arial, sans-serif;
    font-size: large;
    color: rgb(120, 36, 177);
    text-align: center;
}